/* .break{
    background-color: #faeddc;
    border-radius: 10px;
}
.break p{
    background-color: #ffffff;
    padding: 8px;
    margin: 0 10px;
    border-radius: 50%;
}
.break p:hover{
    background-color: #ff9711;
    cursor: pointer;
} */