.weight p{
    margin-bottom: 0;
    
}
.height p{
    margin-bottom: 0;
}
.age p{
    margin-bottom: 0;
}
.body-properties{
    background-color: #faeddc;
    border-radius: 10px;
}
.toast-button h5{
    background-color: #ff9711;
    border-radius: 10px;
}