
.weight p{
    margin-bottom: 0;
    
}
.height p{
    margin-bottom: 0;
}
.age p{
    margin-bottom: 0;
}
.body-properties{
    background-color: #faeddc;
    border-radius: 10px;
}
.details h6{
    margin-right: 10px;
}
.exercise-time{
    background-color: #faeddc;
    border-radius: 10px;

}
.break-time{
    background-color: #faeddc;
    border-radius: 10px;
}

.toast-button h5{
    background-color: #ff9711;
    border-radius: 10px;
}
.toast-button h5:hover{
    cursor: pointer;
}
@media (min-width: 600px) {
    .board-container{ 
        max-width: 327px;
        width: 100%;
        height: auto;
    }
  }
  
