.activity-container{
        display: grid;
        grid-template-columns: 3fr 1fr;   
}
.exercise-container{ 
    background-color: #262626;
}
.exercise-Card-container{
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .alignment{
    text-align: left;
  }
  .board-container{
    position: sticky;
    top: 0;
  }
  /* .blog-card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  } */
 
  @media (min-width: 900px) {
    .exercise-Card-container{ grid-template-columns: repeat(3, 1fr); }
  }
  /* @media (min-width: 900px) {
    .blog-card-container{ grid-template-columns: repeat(2, 1fr); }
  } */